*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
/.preview-shots/
**/.compose-preview-history/
/.agents/
/.claude/
/.vscode/
/meshcore-devices-proto/bin/
/meshcore-cli/bin/
/meshcore-transport-tcp/bin/
/meshcore-tui/bin/
/output.png
app/project.info
/meshcore-grpc-service/bin/
/traces/
